# File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

from __future__ import annotations

import httpx

from ...._types import NOT_GIVEN, Body, Query, Headers, NotGiven
from ...._compat import cached_property
from ...._resource import SyncAPIResource, AsyncAPIResource
from ...._response import (
    to_raw_response_wrapper,
    to_streamed_response_wrapper,
    async_to_raw_response_wrapper,
    async_to_streamed_response_wrapper,
)
from ...._base_client import make_request_options
from ....types.account_info.v3.api_usage_retrieve_daily_response import APIUsageRetrieveDailyResponse

__all__ = ["APIUsageResource", "AsyncAPIUsageResource"]


class APIUsageResource(SyncAPIResource):
    @cached_property
    def with_raw_response(self) -> APIUsageResourceWithRawResponse:
        """
        This property can be used as a prefix for any HTTP method call to return
        the raw response object instead of the parsed content.

        For more information, see https://www.github.com/whohags/hubspot-stainless-sdks#accessing-raw-response-data-eg-headers
        """
        return APIUsageResourceWithRawResponse(self)

    @cached_property
    def with_streaming_response(self) -> APIUsageResourceWithStreamingResponse:
        """
        An alternative to `.with_raw_response` that doesn't eagerly read the response body.

        For more information, see https://www.github.com/whohags/hubspot-stainless-sdks#with_streaming_response
        """
        return APIUsageResourceWithStreamingResponse(self)

    def retrieve_daily(
        self,
        *,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = NOT_GIVEN,
    ) -> APIUsageRetrieveDailyResponse:
        """Get daily API usage"""
        return self._get(
            "/account-info/v3/api-usage/daily",
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=APIUsageRetrieveDailyResponse,
        )


class AsyncAPIUsageResource(AsyncAPIResource):
    @cached_property
    def with_raw_response(self) -> AsyncAPIUsageResourceWithRawResponse:
        """
        This property can be used as a prefix for any HTTP method call to return
        the raw response object instead of the parsed content.

        For more information, see https://www.github.com/whohags/hubspot-stainless-sdks#accessing-raw-response-data-eg-headers
        """
        return AsyncAPIUsageResourceWithRawResponse(self)

    @cached_property
    def with_streaming_response(self) -> AsyncAPIUsageResourceWithStreamingResponse:
        """
        An alternative to `.with_raw_response` that doesn't eagerly read the response body.

        For more information, see https://www.github.com/whohags/hubspot-stainless-sdks#with_streaming_response
        """
        return AsyncAPIUsageResourceWithStreamingResponse(self)

    async def retrieve_daily(
        self,
        *,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = NOT_GIVEN,
    ) -> APIUsageRetrieveDailyResponse:
        """Get daily API usage"""
        return await self._get(
            "/account-info/v3/api-usage/daily",
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=APIUsageRetrieveDailyResponse,
        )


class APIUsageResourceWithRawResponse:
    def __init__(self, api_usage: APIUsageResource) -> None:
        self._api_usage = api_usage

        self.retrieve_daily = to_raw_response_wrapper(
            api_usage.retrieve_daily,
        )


class AsyncAPIUsageResourceWithRawResponse:
    def __init__(self, api_usage: AsyncAPIUsageResource) -> None:
        self._api_usage = api_usage

        self.retrieve_daily = async_to_raw_response_wrapper(
            api_usage.retrieve_daily,
        )


class APIUsageResourceWithStreamingResponse:
    def __init__(self, api_usage: APIUsageResource) -> None:
        self._api_usage = api_usage

        self.retrieve_daily = to_streamed_response_wrapper(
            api_usage.retrieve_daily,
        )


class AsyncAPIUsageResourceWithStreamingResponse:
    def __init__(self, api_usage: AsyncAPIUsageResource) -> None:
        self._api_usage = api_usage

        self.retrieve_daily = async_to_streamed_response_wrapper(
            api_usage.retrieve_daily,
        )
